{% extends "base.html" %}
{% block title %}パスワードを忘れた{% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">パスワードを忘れた</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="POST">
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="input_username" class="col-lg-3 control-label">ユーザ名</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" id="input_username" name="username" placeholder="Username" aria-describedby="sizing-addon1">
                                </div>
                            </div>
                            <div class="col-lg-9 col-lg-offset-3">
                                <p>または</p>
                            </div>
                            <div class="form-group">
                                <label for="input_email" class="col-lg-3 control-label">メール</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="email" id="input_email" name="email" placeholder="Email" aria-describedby="sizing-addon1">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    <button class="btn btn-default" onClick="javascript:history.back()">戻る</button>
                                    <button type="reset" class="btn btn-default">リセット</button>
                                    <input type="submit" class="btn btn-primary" value="ログイン">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
