{% extends "base.html" %}
{% block title %}プッシュ通知詳細{% endblock title %}
{% block content %}
<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'push:index' %}" class="navbar-brand">mBaaS Service</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'push:index' %}">登録一覧</a></li>
                    <li><a href="{% url 'push:sender' %}">プッシュ通知登録</a></li>
                    <li class="active"><a href="#">プッシュ通知送信履歴</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/accounts/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> ログアウト</a></li>
                    <li><a href="{% url 'push:settings' %}">設定</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <p>
                    <a href="javascript:history.back()">
                        <button class="btn btn-warning"><i class="fa fa-undo" aria-hidden="true"></i> 戻る</button>
                    </a>
                </p>
                <legend>プッシュ通知詳細</legend>
                <p>タイトル　　　　: {{ result.title }}</p>
                <p>メッセージ　　　: {{ result.message }}</p>
                <p>ＯＳバージョン　: {{ result.os_version }}</p>
                <p>サウンド　　　　: {{ result.sound }}</p>
                <p>ＵＲＬ　　　　　: {{ result.url }}</p>
                <p>ＪＳＯＮ　　　　: {{ result.json }}</p>
                <p>登録日時　　　　: {{ result.register_date }}</p>
                <p>実行日時　　　　: {{ result.execute_datetime }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
