{% extends "base.html" %}
{% block title %}プッシュ通知登録{% endblock title %}
{% block content %}
<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'push:index' %}" class="navbar-brand">mBaaS Service</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'push:index' %}">登録一覧</a></li>
                    <li class="active"><a href="#">プッシュ通知登録</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-12 well">
            <form class="form-horizontal" action="{% url 'push:notification_thread' %}" method="POST"  onSubmit="return verification()">
                <fieldset>
                    <legend>プッシュ通知登録</legend>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="input_title" class="col-lg-2 control-label">タイトル</label>
                        <div class="col-lg-10">
                            <input type="text" id="input_title" name="title" class="form-control" placeholder="タイトル">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_message" class="col-lg-2 control-label">メッセージ</label>
                        <div class="col-lg-10">
                            <input type="text" id="input_message" name="message" class="form-control" placeholder="メッセージ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_os_version" class="col-lg-2 control-label">OSバージョン</label>
                        <div class="col-lg-10">
                            <input type="number" id="input_os_version" name="os_version" class="form-control" placeholder="OSバージョン">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_sound" class="col-lg-2 control-label">音声</label>
                        <div class="col-lg-10">
                            <input type="text" id="input_sound" name="sound" class="form-control" placeholder="default" value="default">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_badge" class="col-lg-2 control-label">バッジ</label>
                        <div class="col-lg-10">
                            <input type="number" id="input_badge" name="badge" class="form-control" placeholder="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_json" class="col-lg-2 control-label">JSON</label>
                        <div class="col-lg-10" id="json_check">
                            <textarea class="form-control" rows="5" id="input_json" onChange="shaping_json(this)" placeholder="{'url': 'https://example.com'}"></textarea>
                        </div>
                        <div class="checkbox col-lg-10 col-lg-offset-2">
                            <label><input type="checkbox" name="content-availabel" value="true">content-available</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_os_version" class="col-lg-2 control-label">配信方法</label>
                        <div class="col-lg-10">
                            <div class="checkbox">
                                <label><input type="checkbox" name="is_production" value="true">配布用</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default" type="reset">キャンセル</button>
                        <button class="btn btn-primary" type="submit">登録</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
