{% extends "base.html" %}
{% block title %}設定{% endblock title %}
{% block content %}
<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'push:index' %}" class="navbar-brand">mBaaS Service</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'push:index' %}">登録一覧</a></li>
                    <li><a href="{% url 'push:sender' %}">プッシュ通知登録</a></li>
                    <li><a href="{% url 'push:notification_list' %}">プッシュ通知送信履歴</a></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">設定</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="well">

            </div>
        </div>
    </div>
</div>
{% endblock content %}
