{% extends "base.html" %}
{% block title %}設定{% endblock title %}
{% block content %}
<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'push:index' %}" class="navbar-brand">mBaaS Service</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'push:index' %}">登録一覧</a></li>
                    <li><a href="{% url 'push:sender' %}">プッシュ通知登録</a></li>
                    <li><a href="{% url 'push:notification_list' %}">プッシュ通知送信履歴</a></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">設定</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-12 well">
            <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>pemファイル</legend>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="input_develop" class="col-lg-2 control-label">Development用</label>
                        <div class="col-lg-10">
                            <input type="file" name="development" id="input_develop">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_product" class="col-lg-2 control-label">Production用</label>
                        <div class="col-lg-10">
                            <input type="file" name="production" id="input_product">
                        </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default" type="reset">キャンセル</button>
                        <button class="btn btn-primary" type="submit">アップロード</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
