{% extends "base.html" %}
{% block title %}デバイストークン一覧{% endblock title %}
{% block content %}
<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'push:index' %}" class="navbar-brand">mBaaS Service</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">登録一覧</a></li>
                    <li><a href="{% url 'push:sender' %}">プッシュ通知登録</a></li>
                    <li><a href="{% url 'push:notification_list' %}">プッシュ通知送信履歴</a></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/accounts/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> ログアウト</a></li>
                    <li><a href="{% url 'push:settings' %}">設定</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% if device_tokens %}
                <p><a href="{% url 'push:download_device_token' %}"><button class="btn btn-success">ダウンロード（CSV形式）</button></a></p>
                <table class="table table-striped table-hover">
                    <tr class="info">
                        <th>OSバージョン</th>
                        <th>登録日時</th>
                        <th>更新日時</th>
                    </tr>
                    {% for device_token in device_tokens %}
                        <tr data-href="{% url 'push:detail_device_token' device_token_id=device_token.id %}">
                            <td>{{ device_token.os_version }}</td>
                            <td>{{ device_token.register_datetime }}</td>
                            <td>
                                <a href="{% url 'push:delete_device_token' device_token_id=device_token.id %}">
                                    <button class="btn btn-danger btn-xs" onClick="return confirm('削除してもいいですか？')">削除</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="well">
                    <h1>データはありません</h1>
                    <p><code>https://apps.nnsnodnb.moe/{{ request.user.username }}/register</code> に以下のようなJSONをPOST送信してください</p>
                    <p>また、UserAgentに <code>iOS/nnsnodnb-mBaaS-Service</code> を追加してください</p>
                    <p><pre>{
    "device_token": "5000f5e8c297f9c593b88bd881d53b4a95201e46cb28e4ffeda465d6f998cb58",
    "os_version": "9.3"
}</pre></p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
